* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   overflow: hidden;
}

.promo {
   height: 800px;
   background: url("../img/header_bg.png") center center / cover no-repeat;

   padding: 38px 0 61px 0;
}

.container {
   width: 1140px;
   margin: 0 auto;
}

.top__logo .top__logo-img {
   display: block;
   margin: 0 auto;
}

.top__logo-text {
   font-family: 'Roboto';
   text-align: center;
   font-weight: 500;
   font-size: 15px;
   line-height: 24px;
   text-transform: uppercase;
   color: #ffffff;

   margin-top: 10px;
}

h1 {
   margin-top: 53px;
}

.title {
   font-family: 'Roboto';
   font-weight: 900;
   font-size: 41px;
   text-transform: uppercase;
   color: #F9BF3B;
   text-align: center;
}

.title_big {
   margin-top: 20px;
}

.title_big-text {
   font-family: 'Roboto';
   font-weight: 900;
   font-size: 80px;
   text-transform: uppercase;
   color: #FFFFFF;
   text-align: center;
}

h2.title {
   margin-top: 20px;
}
