* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.promo {
   min-height: 800px;
   background: url("../img/header_bg.png") center center / cover no-repeat;

   padding: 38px 0 61px 0;
}

.container {
   position: relative;
   width: 1140px;
   margin: 0 auto;
}

.top__logo .top__logo-img {
   display: block;
   margin: 0 auto;
}

.top__logo-text {
   font-family: 'Roboto';
   text-align: center;
   font-weight: 500;
   font-size: 15px;
   line-height: 24px;
   text-transform: uppercase;
   color: #ffffff;

   margin-top: 10px;
}

h1 {
   margin-top: 53px;
}

.title {
   font-family: 'Roboto';
   font-weight: 900;
   font-size: 41px;
   text-transform: uppercase;
   color: #F9BF3B;
   text-align: center;
}

.title_big {
   margin-top: 20px;
}

.title_big-text {
   font-family: 'Roboto';
   font-weight: 900;
   font-size: 80px;
   text-transform: uppercase;
   color: #FFFFFF;
   text-align: center;
}

h2.title {
   margin-top: 20px;
}

.content {
   width: 1140px;
   height: 100vh;
   background: burlywood;
   margin: 0 auto;
}

.wrapper {
   height: 1000px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}

.flex1 {
   width: 100px;
   height: 100px;
   background: orange;
   color: #FFFFFF;
   font-size: 32px;
}

.flex2 {
   height: 150px;
   width: 150px;
   background: blue;
   color: #FFFFFF;
   font-size: 32px;
}

.flex3 {
   width: 200px;
   height: 200px;
   background: green;
   color: #FFFFFF;
   font-size: 32px;
}

.promo__intensive {
   margin-top: 22px;
}

.promo__intensive .intensive__text {
   font-family: 'Roboto';
   font-weight: 300;
   font-size: 21px;
   line-height: 28px;
   text-align: center;
   color: #FFFFFF;
}

.promo__intensive .intensive__text span {
   font-weight: 700;
   color: #F9BF3B;
}

.promo__btn .promo__btn-button {
   display: block;
   margin: 72px auto;
   text-decoration: none;
   text-align: center;
   padding: 14px 24px;
   width: 284px;
   height: 72px;
   background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
   color: #FFFFFF;
   text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.22);
   font-size: 21px;
   line-height: 42px;
}

.more .more__text {
   text-align: center;
   font-weight: 100;
   font-size: 15px;
   line-height: 24px;
   text-transform: uppercase;
   opacity: 0.5;
   color: #FFFFFF;
}

.more .more__img {
   display: block;
   margin: 5px auto 0;
}

.waiting {
   padding: 85px 0 75px 0;
   background: #EFEFEF;
   min-height: 607px;
}

.waiting .waiting__title, .finish__title {
   font-weight: 400;
   font-size: 30px;
   text-align: center;
   text-transform: uppercase;
   color: #252525;
}

.finish .finish__title {
   color: #FFFFFF;
}

.waiting .waiting__divider, .finish__divider {
   margin: 18px auto 0;
   width: 220px;
   height: 5px;
   background: #F9BF3B;
}

.waiting .waiting__subtitle {
   font-family: 'Roboto';
   font-weight: 400;
   font-size: 23px;
   text-align: center;
   color: #4A4A4A;
   margin-top: 18px;
}

.waiting .waiting__wrapper {
   margin-top: 45px;
   display: flex;
   justify-content: space-between;
}

.waiting .waiting__item {
   width: 342px;
}

.waiting .waiting__item .waiting__item-img {
   width: 100%;
}

.waiting .waiting__item .waiting__item-descr {
   font-family: 'Roboto';
   font-weight: 300;
   font-size: 15px;
   line-height: 21px;
   text-align: center;
   color: #4A4A4A;
   margin-top: 26px;
}

.optimization {
   min-height: 550px;
   padding: 108px 0 74px 0;
}

.optimization .optimization__title {
   font-family: 'Roboto';
   font-weight: 900;
   font-size: 28px;
   text-transform: uppercase;
   color: #299CBD;
   margin-left: 392px;
}

.optimization .optimization__subtitle {
   font-family: 'Roboto';
   font-weight: 300;
   font-size: 17px;
   line-height: 27px;
   color: #4A4A4A;
   margin-left: 392px;
   margin-top: 25px;
}

.optimization .optimization__subtitle span {
   font-weight: 700;
}

.optimization .optimization__img {
   position: absolute;
   top: -20px;
   left: -240px;
   z-index: -1;
}

.finish {
   min-height: 447px;
   padding: 86px 0 66px;
   background: url("/img/training-bg.png") center center / cover no-repeat;
}

.finish .finish__wrapp {
   margin-top: 39px;
   display: flex;
   justify-content: space-between;
}

.finish .finish__wrapp-item {
   width: 200px;
}

.finish .finish__wrapp .finish__item-round {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 118px;
   height: 118px;
   background: #B4E2FF;
   border-radius: 100%;
   margin: 0 auto;
}

.finish .finish__wrapp-item .finish__item-descr {
   color: #FFFFFF;
   text-align: center;
   margin-top: 24px;
}

.surprise {
   padding: 88px 0;
   background: #EFEFEF;
}

.surprise .surprise-img {
   display: block;
   margin: 0 auto;
}

.surprise .surprise-text {
   font-family: 'Roboto';
   font-weight: 400;
   font-size: 30px;
   line-height: 43px;
   text-align: center;
   color: #252525;
   margin-top: 45px;
}

.webinar {
   min-height: 433px;
   padding: 89px 0 50px 0;
}

.webinar .webinar__img {
   display: block;
   margin: 0 auto;
}

.webinar .webinar__title {
   font-family: 'Roboto';
   font-weight: 400;
   font-size: 30px;
   text-align: center;
   text-transform: uppercase;
   color: #252525;
   margin-top: 36px;
}

.webinar .webinar__subtitle {
   font-family: 'Roboto';
   font-weight: 900;
   font-size: 36px;
   text-align: center;
   text-transform: uppercase;
   color: #299CBD;
   margin-top: 30px;
}

.webinar .webinar__text {
   font-family: 'Roboto';
   font-weight: 400;
   font-size: 23px;
   text-align: center;
   color: #4A4A4A;
   margin-top: 24px;
}

.footer {
   min-height: 169px;
   background: #1A1A1A;
   padding: 57px 0 69px 0;
}

.footer .footer__info {
   font-family: 'Roboto';
   font-weight: 300;
   font-size: 15px;
   line-height: 21px;
   text-align: center;
   color: #888888;
}

.footer .footer__info .footer__info-service {
   color: #888888;
}

.footer .footer__info .footer__info-phone {
   color: #888888;
}

.footer .footer__info .footer__info-phone .footer__info-tel {
   color: #888888;
   text-decoration: none;
}